---
import Layout from '../layouts/Layout.astro';
import FullCircleIntegration from '../components/FullCircleIntegration';
---

<Layout title="Full Circle Wind Services">
  <div class="container mx-auto px-4 py-6">
    <FullCircleIntegration client:load />
  </div>
</Layout>