---
import Layout from '../layouts/Layout.astro';
import GlobalTurbineMap from '../components/GlobalTurbineMap';
---

<Layout title="Global Wind Turbine Map">
  <div class="container-fluid h-screen">
    <div class="h-full pt-16">
      <GlobalTurbineMap client:only="react" />
    </div>
  </div>
</Layout>

<style>
  .container-fluid {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  
  .h-screen {
    height: 100vh;
  }
  
  .pt-16 {
    padding-top: 4rem;
  }
</style>