---
import Layout from '../layouts/Layout.astro';
import OffshoreMonitor from '../components/OffshoreMonitor';
---

<Layout title="Offshore Operations">
  <div class="container mx-auto px-4 py-6">
    <OffshoreMonitor client:load />
  </div>
</Layout>